<%= stylesheet_link_tag "recipes" %>

<h1>All Recipes</h1>

<h4><% @recipes.each do |recipe|%>
    <%= link_to  recipe.title, recipe_path(recipe)%><br>
<%end%>

<br><a href="/recipes/new"><button>Create Recipe</button><a><br>
<br>
<%= link_to  'My Home page', user_path(@user)%><br></h4>

