<h1> Name: <%= @utensil.name %></h1>


<%= button_to "All Utensils", utensils_path, method: :get %>
<%= button_to "Edit Utensils", edit_utensil_path(@utensil), method: :get %>
<%= button_to "Remove Utensil", utensil_path(@utensil), method: 'delete', data: { confirm: 'Are you sure' } %>


