
<h1 style="color:blue;"> Recipe Reviews: </h1>

<% @reviews.each do |review| %>
<li>

<%= link_to review.rating, review_path(review) %>
</li>
<% end %>

<%= link_to "All Recipes", recipes_path, method: :get %>
